.bg-dark {
  background-color: rgb(56,56,56);
}

.text-white {
  color: #fff;
  font-weight: bold;
}

.custom-image {
  border-radius: 20px;
  padding: 10px;
  width: calc(100% - 20px);
}

.custom-buttons button, .custom-buttons div {
  border-color: #fff;
  color: #fff;
}

.shopping-cart {
  position: fixed;
  right: 10px;
  top: 0px;
}